.dev-item{
    background-color: rgb(247, 248, 248);
    background-size: cover;
    border: 1px solid rgb(190, 188, 188);
    box-shadow: 4px 4px 5px rgb(197, 195, 195);
    padding: 3%;
}

header{
    display: flex;
    flex-direction: row;
    
    
}

img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    
}

.user-info{
    margin: 2%;
    width: 100%;
}

.user-name{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 3%;
}

.tecnologias{
    font-size: 14px;
}


.bio{
    margin: 4% 1%;
    font-size: 12px;
}

a{
    text-decoration: none;
    font-size: 12px;
}

a:hover{
    color: rgba(146, 105, 241, 0.8);
}

.button{    
    width: 15%;
    margin-left: 2%;
    background-color: rgb(138, 67, 204);
    color: #fff;
    border: 1px solid rgb(218, 215, 215);
    box-shadow: 0px 3px 5px rgb(211, 210, 210);
    font-size: 12px;
}

.btn{
    margin-left: 10%;
}
